# Server Configuration
PORT=5000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# MongoDB Configuration (Local MongoDB or MongoDB Atlas Connection URI)
MONGODB_URI=mongodb+srv://<USERName>:<PASSWORD>@career-path-cluster.hcjddyr.mongodb.net/?appName=career-path-cluster
# JWT Authentication
JWT_SECRET=0QLEZzUyew6TdtW0w1Zqn0E/bAxZz56pK3LGlyeYA70=

JWT_EXPIRES_IN=7d
